.AP-box {
  width: 600px;
  border: 2px solid white;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.AP-Name {
  margin: auto;
  text-align: left;
  width: 550px;
}

.editButton {
  background-color: rgb(38, 199, 240);
  border-radius: 8px;
  border: 2px solid black;
  transition-duration: 0.4s;
}

.editButton:hover {
  background-color: white;
  color: black;
}

.AP-container {
  width: 550px;
  margin: auto;
  text-align: left;
  font-size: 20px;
}

.APF-container {
  width: 550px;
  margin: auto;
  text-align: left;
  font-size: 20px;
}

.APF-Submit{
  color: black;
  background-color: white;
  font-size: 20px;
  height:2em;
  width: 100px;
  
}

.APE-container {
  width: 80px;
  margin: auto;
  text-align: center;
  font-size: 20px;
}
