a {
    color: inherit;
}

a:hover {
    color: inherit;
}

.tagline {
    margin: 0 auto;
    padding: 2rem;
}

.tagline h1 {
    text-align: center;
}

.main-container {
    display: flex;
    padding: 0 1rem;
    justify-content: center;
}

.movie-img {
    margin: 1rem;
    max-width: 20%;
}

.movie-img img {
    border-radius: 5%;
    max-width: 100%;
}

.movie-info {
    padding: 1rem;
    height: 100%;
    max-width: 40%;
}

.movie-info h2 {
    display: inline-block;
}

.movie-info h5 {
    color: lightgrey;
}

.director-container {
    padding: 1rem 0;
}

.showtimes-container {
    max-width: 100%;
}

.showtimes-container h1 {
    padding: 1rem;
    text-align: center;
}

.showtimes-container img {
    padding: 1rem;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
}

.cast-container h1 {
    padding: 1rem;
    text-align: center;
}

.movie-cast {
    padding: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.people {
    width: 300px;
    margin: 1rem;
}

.people img {
    height: 450px;
    object-fit: cover;
    border-radius: 5%;
    width: 100%;
}

.people h5 {
    padding: 1rem 0 0;
    text-align: center;
}

.people h6 {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .tagline h1 {
        font-size: 6vw;
    }

    .main-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 1rem;
        justify-content: center;
    }

    .movie-img {
        margin: 0;
        max-width: 60%;
    }

    .movie-info {
        max-width: 100%;
    }

    .movie-info h1 {
        text-align: center;
    }

    .movie-info p {
        text-align: justify;
        text-justify: inter-word;
    }

    .showtimes-container img {
        max-width: 100%;
    }

    .movie-cast {
        padding: 0;
    }

    .people {
        width: 150px;
    }

    .people img {
        height: 225px;
    }

    .people h5 {
        font-size: 4.5vw;
    }

    .people h6 {
        font-size: 3.5vw;
    }
}
