.tagline {
    margin: 0 auto;
    padding: 2rem;
}

.tagline h1 {
    text-align: center;
}

.main-container {
    display: flex;
    padding: 0 1rem;
    justify-content: center;
}

.movie-img {
    margin: 1rem;
    max-width: 20%;
}

.movie-img img {
    border-radius: 5%;
    max-width: 100%;
}

.movie-info {
    padding: 1rem;
    height: 100%;
    max-width: 40%;
}

.movie-info h2 {
    display: inline-block;
}

.director-container {
    padding: 1rem 0;
}

.cast-container h1 {
    padding: 1rem;
    text-align: center;
}

.movie-cast {
    padding: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.people {
    width: 300px;
    margin: 1rem;
}

.people img {
    height: 450px;
    object-fit: cover;
    border-radius: 5%;
    width: 100%;
}

.people h5 {
    padding: 1rem;
    text-align: center;
}
