.PH-Transaction {
  width: 600px;
  border: 2px solid white;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.PH-container {
  width: 550px;
  margin: auto;
  text-align: left;
  font-size: 20px;
}

.QR-Code {
  background-color: rgb(38, 199, 240);
  border-radius: 8px;
  border: 2px solid black;
  transition-duration: 0.4s;
}

.QR-Code:hover {
  background-color: white;
  color: black;
}
